<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.5cledi8sn2u7h0mf12jlm9khd589vcot-Y312301414991</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.312301414991-5cledi8sn2u7h0mf12jlm9khd589vcot</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>312301414991-5cledi8sn2u7h0mf12jlm9khd589vcot.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>312301414991-ddahqi3voejbs8oat0mdqeb0v30brscv.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoicGFibG9tYW50aW5hbiIsImEiOiJjbGM1Y29peTUzcXNrM3Bwbm43ZndtNmpqIn0.bHnRveoBmJ8vwyiUosXPXw</string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeOther</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Medium.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
</dict>
</plist>
